header{
    background-color: rgb(167, 143, 224);
    text-align: center;
    padding: 10px;
    margin: 20px;
}

#formsection1 {
    text-align: center;
    padding: 10px;
    margin: 100px;
    border: 2px solid thistle;
    
}

label { 
    display: inline-block;
    margin: 12px;
    
    
}

input{
    display: inline-block;
    text-align: left;
    
}

footer{
    text-align: center;
    margin: 1px;
}

div.image{
    text-align: center;
}

button{
    margin: 8px;
    box-shadow: 5px 2.5px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

h4{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

@media (min-width: 1000px){
    #formsection{
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        
    }
    label {
        display: inline-block;
        margin: 13px;
    }
    
    input{
        display: inline-block;
        text-align: left;
        
    }

}

